beautifulsoup4==4.12.3
crewai>=0.11.0
dataclasses-json==0.6.4
eventlet
faiss
flask==3.1.0
flask-cors==5.0.0
flask-socketio==5.4.1
google-generativeai==0.8.3
langchain-google-genai
lxml
matplotlib
numpy==1.26.4
openpyxl
pandas
Pillow==10.4.0
psutil
PyPDF2==3.0.1
python-dotenv==1.0.1
python-socketio==5.11.4
requests==2.32.3
seaborn
weasyprint==66.0
xlrd
